@use '@foundations/variables/variables' as vars;
@import '@foundations/typography/typography-styles';

.helperCommon {
  @extend .typography-body02;
  display: flex;
  align-items: center;
  color: vars.$color-black-typography;
  cursor: pointer;
  text-decoration: none;
  gap: 0.5rem;
}

.button {
  @extend .helperCommon;
  border: none;
  background: none;
  padding: 0;
  @media print {
    font-size: 1.1rem;
  }
  
}

.link {
  @extend .helperCommon;
}