@use '@foundations/typography/typography-styles' as typography;

.section {
    background-image: url(@assets/separator.svg);
    padding-top: 9rem;
    background-repeat: no-repeat;
    background-position: 50% 5rem;
}

.title {
    @include typography.typographyFactory(title01);
    margin-bottom: 2rem;
    text-align: center;
}