.section {
    background-image: url(@assets/separator.svg);
    padding-top: 6rem;
    background-repeat: no-repeat;
    background-position: 50% 3rem;
}

.title {
    margin-bottom: 4rem;
    text-align: center;
}