@use '@foundations/variables/variables' as vars;
@use '@foundations/general/media-queries' as media;

.canvas {
    position: absolute;
    width: 100%;
    height: 65rem;
    display: none;
    @include media.min(vars.$breakpoints-tablet) {
        display: block;
    }
}

.image1{
    @extend .canvas;
    height: 50rem;
}

.image2{
    @extend .canvas;
    top: 140rem
}

.image3{
    @extend .canvas;
    top: 310rem
}

.image4{
    @extend .canvas;
    top: 490rem
}

.image5{
    @extend .canvas;
    height: 60rem;
    bottom: 0;
}
