.canvas {
    position: absolute;
    width: 100%;
    height: 55rem;
}

.image1{
    @extend .canvas;
    height: 50rem;
}

.image2{
    @extend .canvas;
    top: 135rem
}

.image3{
    @extend .canvas;
    top: 280rem
}

.image4{
    @extend .canvas;
    height: 60rem;
    bottom: 0;
}
