@use '@foundations/variables/variables' as vars;
@import '@foundations/typography/typography-styles';

.resumeContainer {
  position: relative;
}

.stickyButton {
  @media print {
    display: none;
  }
}

.workingExperience {
  break-before: page;
}