@use '@foundations/typography/typography-styles' as typography;

.layout {
    display: grid;
    grid-template-columns: 8.5rem auto;
    column-gap: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

.year {
    @include typography.typographyFactory(title01);
    text-align: end;
}

.content {
    margin-top: 0.75rem;
}

.projectName {
    @include typography.typographyFactory(title04);
    display: flex;
    &::before {
        content: '•';
        margin-right: 0.25rem;
    }
}

.description {
    margin-top: 1rem;
}