@use '@foundations/typography/typography-styles' as typography;
@use '@foundations/variables/variables' as vars;
@use '@foundations/general/media-queries' as media;

.layout {
    display: grid;
    grid-template-columns: 4rem auto;
    column-gap: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    page-break-inside: avoid;

    @include media.min(vars.$breakpoints-tablet) {
        grid-template-columns: 8.5rem auto;
    }

    @media print {
        display: flex;
    }
}

.year {
    @include typography.typographyFactory(title01);
    text-align: end;
    @include media.max(vars.$breakpoints-tablet) {
        font-size: 2rem;
    }
}

.content {
    margin-top: 0.75rem;
}

.projectName {
    @include typography.typographyFactory(title04);
    display: flex;
    &::before {
        content: '•';
        margin-right: 0.25rem;
    }
}

.description {
    margin-top: 1rem;
}

.breakable {
    page-break-inside: auto;
}