.rating {
  display: flex;
  
  &__star {
    display: block;
    height: 10px;
    width: 10px;
    background: #3e5e67;
    border-radius: 2px;
    margin: 2px;

    &--empty {
      background: #ff9b04;
    }
  }
}