@use '@foundations/variables/variables' as vars;
@use '@foundations/general/media-queries' as media;
@import '@foundations/typography/typography-styles';

.header {
    margin: 2rem auto 1rem auto;
    max-width: 37rem;

    @include media.min(vars.$breakpoints-tablet) {
        margin: 10rem auto 1rem auto;
    }

    @media print {
        max-width: none;
    }

    &Title {
        @extend .typography-hero;
        color: vars.$color-brand-orange;
        text-align: center;
        @media print {
            font-size: 5rem;
        }
    }

    &Description {
        @extend .typography-hero-secondary;
        text-align: center;
        top: -10.5rem;
        height: 0;
        position: relative;

        @media print {
            top: 0;
        }
    }
}