@use '@foundations/variables/variables' as vars;
@use '@foundations/general/media-queries' as media;
@import '@foundations/typography/typography-styles';

.header {
    margin: 2rem auto 1rem auto;
    @include media.min(vars.$breakpoints-tablet) {
        margin: 10rem auto 1rem auto;
    }
    max-width: 37rem;

    &Title {
        @extend .typography-hero;
        color: vars.$color-brand-orange;
        text-align: center;
    }

    &Description {
        @extend .typography-hero-secondary;
        text-align: center;
        top: -10.5rem;
        height: 0;
        position: relative;
    }
}