.picture {
  width: 18rem;

  @media screen and ( min-width: 1360px ) {
    margin: 10rem 0 0 auto;
  }

  &Container {
    padding-bottom: 100%;
    height: 0;
  }

  &Img {
    width: 100%;
    height: auto;
    position: relative;
    top: -50px;
  }
}

.helperList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.contact {
  margin-top: 4rem;
  &Content {
    padding: 1.5rem;
  }
  &List {
    @extend .helperList;
    flex-direction: column;
    gap: 1.5rem;
  }
  &Social {
    @extend .helperList;
    margin: 1.5rem 0 0 0;
    justify-content: end;
    gap: 1.5rem;
  }
}
