@use '@foundations/variables/variables' as vars;
@use '@foundations/general/media-queries' as media;

.picture {
  max-width:24rem;
  
  @include media.min(vars.$breakpoints-tablet) {
    max-width: 18rem;
  }
  
  @include media.min(vars.$breakpoints-small) {
    max-width: 22rem;
    margin: 10rem 0 0 auto;
  }

  &Container {
    padding-bottom: 100%;
    height: 0;
  }

  &Img {
    width: 100%;
    height: auto;
    position: relative;
  }
}

.helperList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.contact {
  @include media.min(vars.$breakpoints-tablet) {
    margin-top: 3rem;
  }
  @include media.min(vars.$breakpoints-small) {
    margin-top: 4rem;
  }
  &Content {
    padding: 1.5rem;
  }
  &List {
    @extend .helperList;
    flex-direction: column;
    gap: 1.5rem;
  }
  &Social {
    @extend .helperList;
    margin: 1.5rem 0 0 0;
    justify-content: end;
    gap: 1.5rem;
  }
}
