@use './foundations/scss/variables/variables' as vars;

.resumeLayout {
  display: grid;
  grid-template-columns: 320px auto;
  grid-column-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;

  &__sideCard {
    content: '';
  }

  &__mainContent {
    content: '';
  }
}

.header {
  content: '';

  &__title {
    text-align: center;
  }

  &__description {
    text-align: center;
    top: -205px;
    position: relative;
  }
}
