@use '@foundations/variables/variables' as vars;
@import '@foundations/typography/typography-styles';
@import '@foundations/general/reset.scss';


:root {
  @extend .typography-body01;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: vars.$color-white;
  background-color: rgb(168, 141, 141);
}
