@use '@foundations/typography/typography-styles' as typography;

.qualification {
  width: 7rem
}

.name{
  @include typography.typographyFactory(body03);  
}

.rating {
  display: flex;
  justify-content: space-between;
}
  
.star {
  display: block;
  height: 10px;
  width: 10px;
  background: #ff9b04;
  border-radius: 2px;
  margin: 2px;
}

.starEmpty {
  @extend .star;
  background: #3e5e67;
}
